services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Ho_Chi_Minh
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - /home/cuong/Config/Jellyfin:/config
      # --- CẬP NHẬT MAPPING MỚI ---
      - /home/cuong/Data/Torrents:/data/media_local  # Kho phim trên ổ cứng máy
      - /mnt/external:/data/media_ext1               # Kho phim ổ rời 1
      - /mnt/external2:/data/media_ext2              # Kho phim ổ rời 2
    ports:
      - 8096:8096
    restart: always

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Ho_Chi_Minh
      - WEBUI_PORT=8080
    volumes:
      - /home/cuong/Config/qbittorrent:/config
      # Map đúng vào media_local để tải xong nằm luôn trong kho nội bộ
      - /home/cuong/Data/Torrents:/data/media_local
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: always

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Ho_Chi_Minh
    volumes:
      - /home/cuong/Config/Radarr:/config
      # Radarr cần nhìn thấy cả 3 ổ
      - /home/cuong/Data/Torrents:/data/media_local
      - /mnt/external:/data/media_ext1
      - /mnt/external2:/data/media_ext2
    ports:
      - 7878:7878
    restart: always

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Ho_Chi_Minh
    volumes:
      - /home/cuong/Config/Sonarr:/config
      # Sonarr cần nhìn thấy cả 3 ổ
      - /home/cuong/Data/Torrents:/data/media_local
      - /mnt/external:/data/media_ext1
      - /mnt/external2:/data/media_ext2
    ports:
      - 8989:8989
    restart: always

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Ho_Chi_Minh
    volumes:
      - /home/cuong/Config/Bazarr:/config
      # MAP Y HỆT SONARR/RADARR ĐỂ TÌM THẤY PHIM MÀ TẢI SUB:
      - /home/cuong/Data/Torrents:/data/torrents
      - /mnt/external:/data/media_ext1
      - /mnt/external2:/data/media_ext2
    ports:
      - 6767:6767
    restart: always
    
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Ho_Chi_Minh
    volumes:
      - /home/cuong/Config/prowlarr:/config
      # Prowlarr KHÔNG CẦN map dữ liệu phim/ảnh
    ports:
      - 9696:9696
    restart: always

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=Asia/Ho_Chi_Minh
    ports:
      - "8191:8191"
    restart: unless-stopped